*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: inherit;
}
body{
  line-height: 1.5;
}
ul,li,ol{
  list-style: none;
}
button,input{
  font: inherit;
  outline: none;
  border: none;
}